::selection {
  color: none;
  background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
  color: none;
  background: none;
}

.task-form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  margin-left: 4%;
}

.text-form {
  width: 30%;
  padding: 4px 0 4px 0;
  padding-left: 4px;
  font-size: 1em;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

#task-label,
#task-body {
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

#task-status {
  width: 20%;
  padding: 4px 15px;
}

#create-task-btn {
  width: 20%;
  margin-top: 12px;
  padding: 10px;
  border: none;
  background: #00bbf9;
  color: white;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

label {
  margin-top: 12px;
  font-weight: 600;
}

.text-form:hover {
  border-color: #00bbf9;
}

#task-label:hover,
#task-body:hover {
  width: 50%;
}

#create-task-btn:hover {
  cursor: pointer;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
  transform: translateY(-4px);
  background: white;
  color: #00bbf9;
}
