button {
  outline: none;
}

.tasks-container {
  margin: 0 4%;
  margin-top: 2%;
}

.tasks-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tasks-header-area {
  display: flex;
  align-items: center;
}

#sort-by-dropdown {
  margin-top: 4px;
  margin-left: 20px;
  padding: 4px;
  border: 1px solid #888;
}

select:active,
select:hover {
  outline: none;
}

.show-incomplete:hover {
  cursor: pointer;
  background: #e63946;
  color: #ffffff;
}
