button {
  outline: none;
}

.tasks-container {
  margin: 0 4%;
  margin-top: 2%;
}

.tasks-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tasks-header-area {
  display: flex;
  align-items: center;
}

.show-incomplete {
  margin-top: 4px;
  margin-left: 20px;
  background: #ffffff;
  border: 1px solid #e63946;
  padding: 2px 4px;
  border-radius: 50px;
  color: #e63946;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.show-incomplete:hover {
  cursor: pointer;
  background: #e63946;
  color: #ffffff;
}
